body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  border: 1px solid black;
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
}

.next_poem_style {
  
}